* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html ´{
    font-size: 62.5%;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}